<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, minimum-scale=0.8">
    <title>KeepTouch — Главное окно</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="static/image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_main_posts.css') }}">

</head>
<body>
    <div class="header">
        <a href="/users/{{ current_user.username }}" class="nav-button">Профиль</a>
        <button class="nav-button active" id="postsBtn">Посты</button>
    </div>

    <div class="container">
        <div class="content-area" id="contentArea">
                        {% if posts %}
                <div class="posts-grid">
                    {% for post in posts %}
                    <div class="post-card">
                        <img src="{{ url_for('static', filename=post.image_path) }}" alt="Фото поста" class="post-image" loading="lazy">
                        <div class="post-caption">
                            <a href="/users/{{ post.author }}" class="nav-button">{{ post.author }}</a>
<!--                            <div class="post-author">{{ post.author }}</div>-->
                            <p class="post-text">{{ post.caption }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="profile-message" id="profileMessage">
                    Пока нет постов. Будьте первым!
                </div>
            {% endif %}
        </div>
    </div>
    <div id="site-footer">
        © 2026 KeepTouch. Все права защищены. | <a href="{{ url_for('policy') }}">Политика конфиденциальности</a>
    </div>
</body>
</html>