<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.2, minimum-scale=0.8">
    <title>KeepTouch</title>
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_start_screen.css') }}">
</head>
<body>
    <div class="content">
        <img src="{{ url_for('static', filename='images/KeepTouchWord.png') }}" alt="KeepTouch™" class="logo-img">
        <button class="start-btn" onclick="window.location.href='login'">Начать работу</button>
    </div>
    <div id="site-footer">
        © 2026 KeepTouch. Все права защищены. | <a href="policy">Политика конфиденциальности</a>
    </div>
    <div class="joke-container" id="jokeContainer">
        Загрузка шутки...
    </div>
</body>
</html>
